APP_URL=http://localhost:8000
PUSH_UI_URL=http://localhost:8000
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:ops@example.com
PUSH_WEBHOOK_TOKEN=
SUBSCRIPTIONS_FILE=storage/subscriptions.yaml
